/* QuizHome.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #002a3b;
  }
  .container h4 {
    color: 002a3b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  .table {
    margin-bottom: 20px;
  }
  
  .table th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .table td {
    text-align: left;
    padding: 10px;
  }
  
  .nav-link-custom {
    color: #007bff;
    text-decoration: none;
  }
  
  .nav-link-custom:hover {
    color: #0056b3;
  }
  