/* QuizPage.css */

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    text-align: center;
  }

  
  .page-heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question-text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .answer-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer-button:hover {
    background-color: #e0e0e0;
  }
  
  .answer-button.selected {
    background-color: #b3d4fc;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .alert {
    margin-bottom: 20px;
  }

  .incorrect-answers {
    margin-top: 20px;
  }
  
  .incorrect-answers h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .incorrect-answers ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    color:red;
  }
  
  