.main-color {
  background-color: #002a3b;
  color: white;
}


.app-home{
  background-color: #002a3b;
  border-color: #002a3b;
  margin:0%;
  border:0px 0px 0px 0px ;
  padding: 0%;

}

.app-home .container {
  z-index: 1;
  position: relative;
  background-color: #002a3b;
  border-color: white;
}


body {
  background-color: #00719c;
}


.table > tbody > tr > td {
  background-color: #00b8ff;
  border-color: #009bd6;
  color: white;
}
thead {
  background-color: #009bd6;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
  background-color: #002a3b;
  border-color: #002a3b;
  margin: 0%;
  border: 0px 0px 0px 0px;
  padding: 0%;
}

.home-page .container {
  z-index: 1;
  position: relative;
}

.home-page .btn-primary {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 0;
  background-color: #007bff;
  border-color: #007bff;
}

.home-page .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.home-page .btn-secondary {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 0;
  background-color: #00aeff;
  border-color: #00aeff;
}

.home-page .btn-secondary:hover {
  background-color: hwb(199 29% 4%);
  border-color: hwb(199 29% 4%);
}

.conjugation-form {
  background-color: #00719c;
  color: white;
}

.btn-add {
  background-color: #00719c;
  border-color: #00719c;
  margin: 10px 10px 10px 10px;
}

.btn-add:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-delete {
  background-color: #ff0000;
  border-color: #ff0000;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
  border-radius: 5%;
  text-align: center;
}

.btn-delete:hover {
  background-color: #f24d4dc6;
  border-color: #f24d4dc6;
}

Input {
  margin: 10px 10px 10px 10px;
}

.btn-update {
  background-color: #00aeff;
  border-color: #00aeff;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
  border-radius: 5%;
  text-align: center;
}

.btn-add-question {
  background-color: #078c6d;
  border-color: #078c6d;
  margin: 5px 5px 5px 5px;
}

.btn-add-question:hover {
  background-color: #3fc4a5;
  border-color: #3fc4a5;
  margin: 5px 5px 5px 5px;
}

.btn-add-answer {
  background-color: #1d078c;
  border-color: #1d078c;
  margin: 5px 5px 5px 5px;
}

.btn-add-answer:hover {
  background-color: #3f3fc4;
  border-color: #3f3fc4;
  margin: 5px 5px 5px 5px;
}

.quiz-form-div {
  background-color: #4880a9;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  color: white;
}

.quiz-form-div-results {
  border: #00719c;
  border-style: solid;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.question-heading {
  background-color: #00719c;
}

.create-new-quiz-container {
  background-color: white;
  color: black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0px 10px 10px;
  margin: 10px 0px 10px 60px;
}



.page-heading{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
